@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-family: "Merriweather", serif;
  font-size: 64px;
  color: #ffffff;
  font-weight: bold;
  max-width: 600px;
}

.hero-description {
  font-size: 18px;
  font-weight: 300;
  color: #ABABAB;
  line-height: 40px;
}

h3 {
  font-size: 18px;
  color: #ffffff;
  font-weight: 500;
  max-width: 500px;
}

header a {
  font-size: 12px;
  color: #ABABAB;
  font-weight: 300;
  text-decoration: none;
}

header a:hover {
  color: #ffffff;
}

.btn {
  padding: 8px 40px 8px 40px;
  border: none;
  color: #ffffff;
  background-color: #DB2A6B;
  border-radius: 20px;
  font-size: 18px;
  font-weight: 400;
  box-shadow: 0px 24px 50px 0px rgba(0, 0, 0, 0.1019607843);
  text-decoration: none;
}
.btn a:hover {
  cursor: pointer;
  background-color: lightcoral;
  transform: scale(1.3);
  transition: all 0.4s ease-in-out;
}
.btn:hover {
  background-color: pink;
  color: #DB2A6B;
  transform: scale(1.3);
  transition: all 0.3s ease;
}

.secondary-btn {
  position: relative;
  color: #ffffff;
  text-decoration: underline;
  padding-right: 40px;
  padding-left: 40px;
  background-image: url(../img/Arrow-icon.svg);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: right center;
}
.secondary-btn:hover {
  color: #DB2A6B;
  transform: scale(1.3);
  transition: all 0.3s ease;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
}
.main-header figure img {
  max-width: 100%;
}
.main-header .main-nav {
  margin-right: 120px;
}
.main-header .main-nav ul {
  display: flex;
  gap: 40px;
}
.main-header .main-nav ul li {
  list-style: none;
}
.main-header .main-nav ul li a.active {
  position: relative;
  color: #ffffff;
  text-decoration: none;
}
.main-header .main-nav ul li a.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 50%;
  height: 2px;
  background: #DB2A6B;
}
.main-header a:not(.active):hover {
  position: relative;
  color: #ffffff;
  text-decoration: none;
}
.main-header a:not(.active):hover::after {
  content: "";
  position: absolute;
  left: 0%;
  bottom: 0;
  width: 50%;
  height: 2px;
  background: #DB2A6B;
}

.hero-section .hero-content h1 {
  margin-bottom: 20px;
}
.hero-section .hero-content .hero-description {
  max-width: 500px;
  margin-bottom: 30px;
}

.hero-btns {
  margin-bottom: 120px;
}

.info-content {
  display: flex;
  gap: 40px;
}

.info-section article {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 0;
}

.info-section article img {
  max-width: 50px;
}

.info-section article h3 {
  flex: 1;
  text-align: left;
}

.info-content article:hover {
  background-color: #f0f0f0;
  transform: scale(1.05);
  transition: all 0.3s ease;
}

body {
  overflow-x: hidden;
  background-color: #2B2D38;
  background-image: url(../img/profile-imgs.png);
  background-size: 700px 670px;
  background-repeat: no-repeat;
  background-position: bottom right;
}

.container {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
}
