@use '../abstracts/variables' as vars;

@mixin breakpoint($point) {
  @if $point == largedesktop {
    @media (max-width: 1920px) and (min-width: 1441px) {
      @content;
    }
  }
  @if $point == desktop {
    @media (max-width: 1440px) and (min-width: 1025px) {
      @content;
    }
  } @else if $point == tablet {
    @media (max-width: 1024px) and (min-width: 768px) {
      @content;
    }
  } @else if $point == tabletmobile {
    @media (max-width: 1024px) and (min-width: 320px) {
      @content;
    }
  } @else if $point == mobileandrotate {
    @media (max-width: 767px) and (min-width: 320px) {
      @content;
    }
  } @else if $point == mobilerotate {
    @media (max-width: 767px) and (min-width: 479px) {
      @content;
    }
  } @else if $point == mobile {
    @media (max-width: 480px) and (min-width: 320px) {
      @content;
    }
  } @else if $point == smallmobile {
    @media (max-width: 650px) and (min-width: 568px) {
      @content;
    }
  } @else if $point == rotate {
    @media (max-height: 550px) and (min-height: 0) {
      @content;
    }
  }
}

@mixin flex () {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin btn () {
  padding: 8px 40px 8px 40px;
  border: none;
  color: vars.$white-color;
  background-color: vars.$pink-color;
  border-radius: 20px;
  font-size: 18px;
  font-weight: 400;
  box-shadow: 0px 24px 50px 0px #0000001A;
  text-decoration: none;

  a:hover {
    cursor: pointer;
    background-color: lightcoral;
    transform: scale(1.3);
    transition: all 0.4s ease-in-out;


}
}