.hero-section {
    
    .hero-content {
        h1{
            margin-bottom: 20px;

        }
        .hero-description{
            max-width: 500px;
            margin-bottom: 30px;
        }
    }
}

.hero-btns {
    margin-bottom: 120px;
}