@use "../abstracts/variables" as vars;
@use "../abstracts/mixins" as mixins;

.info-content {
  @include mixins.flex();
  gap: 40px;
}

.info-section article {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 0;
}

.info-section article img {
  max-width: 50px;
}

.info-section article h3 {
  flex: 1;
  text-align: left;
}

.info-content article:hover {
  background-color: #f0f0f0;
  transform: scale(1.05);
  transition: all 0.3s ease;
}
