@use "../abstracts/mixins" as mixins;
@use "../abstracts/variables" as vars;

.btn {
    @include mixins.btn();

    &:hover {
        background-color: pink;
        color: vars.$pink-color;
        transform: scale(1.3);
        transition: all 0.3s ease;
    }
}

.secondary-btn {
    position: relative;

    color: vars.$white-color;
    text-decoration: underline;
    padding-right: 40px;
    padding-left: 40px;
    background-image: url(../../img/Arrow-icon.svg);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: right center;

    &:hover {
        color: vars.$pink-color;
        transform: scale(1.3);
        transition: all 0.3s ease;
    }
}

